@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
body{
    margin: 0;
    background: url(/img/picc.webp
    ) center/cover no-repeat;
    height: 60vh;
  }
 header{
    display: flex;
    padding: 40px 20px 0;
    justify-content:space-around;
    background:#fff;
    position: fixed;
    top: 0;
    width: 100%;
  }
 header ul{
    display: flex;
    list-style-type:none;
    margin-top: 0;
    font-family: 'Raleway', sans-serif;
   

  }
  header li{
    padding-left: 20px;
    font-family: 'Raleway', sans-serif;
    
  }
  a{
    text-decoration:none;
    color: rgb(140, 140, 140);
    font-family: 'Raleway', sans-serif;

  }
  h1{
    
    color: #fff;
    font-size: 3em;
    text-align: center;
    margin-top: 20%;
    font-family:'Raleway', sans-serif;

  }
 h5{
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-align: center;
    margin-top: 2%;
  }
  
  body button{
      width:10vw;
      height:5vh;
      background-color: transparent;
      color: #fff;
      margin-left: 1%;
      
  }
  body button:nth-of-type(2){
        background-color:#745cf9;
        

  }
  body button:nth-of-type(2):hover{
      background-color: #5234f9;
      
  }
.button{
    
        display: flex;
        justify-content: center;
   
}